.component-version-diff-response .line-break {
  background-color: #212121;
  color: #FFF;
  text-align: center;
}

.component-version-diff-response .line-status {
  display: inline-block;
  padding: 2px;
  margin-right: 20px;
  width: 10px;
}

.component-version-diff-response .line {
  padding: 2px 4px 2px 4px;
}


.component-version-diff-response .added-line .line,
.component-version-diff-response .added-line .line-status {
  background-color: #006400;
}

.component-version-diff-response .removed-line .line,
.component-version-diff-response .removed-line .line-status {
  background-color: #8B0000;
}
