
.lineBreak {
  background-color: #212121;
  color: #FFF;
  text-align: center;
}

.lineStatus {
  display: inline-block;
  padding: 2px;
  margin-right: 20px;
  width: 10px;
}

.line {
  padding: 2px 4px 2px 4px;
}

.addedLine .line,
.addedLine .line-status {
  background-color: #006400;
}

.removedLine .line,
.removedLine .line-status {
  background-color: #8B0000;
}
