@import-normalize;

:root, :root.darkTheme {
  --color: #c9d1d9;
  --background-color: #0d1117;
  --nav-color: #c9d1d9;
  --nav-background-color: #161b22;
  --link-color: #58a6ff;
  --toast-background: #333;
  --diff-line-added: #006400;
  --diff-line-removed: #8B0000
}

:root.lightTheme {
  --color: #24292f;
  --background-color: #fff;
  --nav-color: #fff;
  --nav-background-color: #24292f;
  --link-color: #0969da;
  --toast-background: #faebd7;
  --diff-line-added: #abf2bc;
  --diff-line-removed: #ffc0c0;
}

html {
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: "Inter", "system-ui";
  line-height: 1.2;
}

body {
  color: var(--color);
  background-color: var(--background-color);
  text-rendering: optimizeLegibility;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
}

main {
  margin: 0 auto 0 auto;
  flex-flow: row nowrap;
  max-width: 960px;
  padding: 0;
}

code, pre {
  margin: 10px 10px 0 10px;
  font-size: 0.9rem;
  font-family: "Courier New", monospace;
  overflow: scroll;
}

code {
  display: block;
  white-space: nowrap;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.basic-section {
  border-color: #30363d;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  margin: 0 0 10px 0;
  padding: 1px 5px 10px 5px;
}

@supports (font-variation-settings: normal) {
  html { font-family: "Inter var", "system-ui"; }
}

.clickable {
  cursor: pointer;
}
