.component-entry-search {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.component-entry-search button,
.component-entry-search input {
  font-size: 1rem;
}

.component-entry-search input {
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
}
.component-entry-search button {
  padding: 0 8px 0 8px;
  border: none;
  background-color: #d9d9d9;
  color:black;
}

.component-entry-search button:hover, button:focus {
  background-color: #9CD7F7;
}
